extends layout

block content
	header#site-header
		.container-fluid
			.row-fluid
				#splash.span12.carousel.fade(data-interval='10000')
					ol.carousel-indicators
						li(data-target='#splash', data-slide-to='0').active
						li(data-target='#splash', data-slide-to='1')
						li(data-target='#splash', data-slide-to='2')
						li(data-target='#splash', data-slide-to='3')
						li(data-target='#splash', data-slide-to='4')
						li(data-target='#splash', data-slide-to='5')
						li(data-target='#splash', data-slide-to='6')
					.carousel-inner
						.item.active
							img(src='images/header/new-system-screenshot.png')
							.carousel-caption: p Following a tutorial on my new comp. Wheee!
						.item
							img(src='images/header/making-a-colorscheme.png')
							.carousel-caption: p Designing a colorscheme with the help of colorschemedesigner.com.
						.item
							img(src='images/header/local-development-workflow.png')
							.carousel-caption: p Building this portfolio, on localhost in a NodeJS server, using ExpressJS. Vim is awesome, if you have time to learn it.
						.item
							img(src='images/header/color-contrast-experiment.png')
							.carousel-caption: p An experiment in color. Notice that a gradient between two colors doesn't produce the color between them around the color wheel; a gradient cuts a straight line across the wheel!
						.item
							img(src='images/header/ndss.png')
							.carousel-caption: p A school project about my old high school. They never knew I made it, think I should try to sell it to them?
						.item
							img(src='images/header/picpost-gallery.png')
							.carousel-caption: p Using <a href='http://isotope.metafizzy.co/'>Isotope</a> for an image gallery.
						.item
							img(src='images/header/picpost-upload.png')
							.carousel-caption: p An upload page.
	#middle
		.container-fluid
			.row-fluid
				section(role='main')#main-content.span9
					.row-fluid
						// posts, start an include when this gets variety
						for post in page.posts
							article(id = 'post-#{post.title.replace(/\s/g, '-').toLowerCase()}').span4
								.article-wrapper
									a(href='/posts/#{post.name}')
										h3!= md(post.title)
									.imagebar
										img(src='#{post.image.src}', alt='#{post.image.alt}')
									div(role='content')!= md(post.content)
				section(role='complementary')#secondary-content.span3
					// needed to keep top position consistent with section[role=main]
					.row-fluid
						// messages
						for message in page.messages
							article(id = 'message-#{message.title.replace(/\s/g, '-').toLowerCase()}')
								.article-wrapper
									h3!= message.title
									div(role='content')!= md(message.content)
	footer
		.container-fluid
			.row-fluid
				.span4
					.article-wrapper
						h2 find me on
						ul
							li <strong>github</strong> 
								a(href='//github.com/d4goxn') d4goxn
							li <strong>stackexchange</strong> 
								a(href='//stackexchange.com/users/178206/dan-ross?tab=accounts') Dan Ross
							li <strong>G+</strong> 
								a(href='//plus.google.com/105196768292553852888') Dan Ross
							li <strong>twitter</strong> 
								a(href='//twitter.com/ross9885') @ross9885.
								|  I may actually use it, someday
							li <strong>facebook</strong>: Maybe if it paid me $10<sup>[4 to 6]</sup>. <a href='https://soundcloud.com/musicdotexe/dotexe-terminated'>Kill it with fire</a>!
				.span4
					.article-wrapper
						h2 walk my webs
						ul
							li <a href='/library' class='inactive'><strong>reading</strong></a>
								|  1500 bookmarks and counting. Looking for a gift? Gimme a <a href='http://www.bookdepository.com/'>bookstore</a> gift certificate. Got too many books? Give 'em to <a href='http://www.literacynanaimo.org/support-literacy/'>Literacy Nanaimo</a> to grow strong young grasshoppers and help eradicate ignorance
							li <a href='/politics' class='inactive'><strong>politics</strong></a>
								|  practical, but basically green. Want my vote? Show me a plan with numbers that I can be proud of when I die
							li <a href='/giants' class='inactive'><strong>giants</strong></a>
								|  whose shoulders I've hopped across
				.span4
					.article-wrapper
						h2 peers and mentors
						ul
							li
								a(href='//nanaimowebdev.com/') <strong>Mike Strendin</strong>
								|  I can't believe he got that url, that clever lucky faq!
							li
								a(href='//rasmussengraphicdesign.com/').inactive <strong>Corey Rasmussen</strong>
								|  is freakin' hilarious, except when it comes to graphic design
							li
								a(href='//freshcreative.ca/') <strong>Andy Chapman</strong>
								|  taught me the basics of <a href='google.ca/search?q=seo'>seo</a>
							li Andrew Walker showed me the magic in javascript, on both ends of the socket, after bringing PHP back to the basics. Anything I can do, he can do with less complexity
							li
								a(href='//ca.linkedin.com/pub/nathan-bowman/31/955/754N').inactive <strong>Nathan Bowman</strong>
								|  taught me everything I know about clients, and the UX they expect from their project
							li
								a(href='//akdnd.com/') <strong>Will Akehurst</strong>
								|  introduced me to the wide world of ecommerce, so I showed him <a href='openerp.com/en/'>OpenERP</a>. I think we were both overwhelmed by it's sheer size

block scripts
	script
		$('.carousel').carousel({
			interval: 10000
		});

	script
		$('#splash').hover(
			function() {
				$('.carousel-caption').stop().fadeIn('fast');
			},
			function() {
				$('.carousel-caption').stop().fadeOut('fast');
			}
		);
