extends layout

block content
	header#site-header
		.container-fluid
			.row-fluid
				#splash.span12.carousel.fade(data-interval='10000')
					ol.carousel-indicators
						li(data-target='#splash', data-slide-to='0').active
						li(data-target='#splash', data-slide-to='1')
						li(data-target='#splash', data-slide-to='2')
						li(data-target='#splash', data-slide-to='3')
						li(data-target='#splash', data-slide-to='4')
						li(data-target='#splash', data-slide-to='5')
						li(data-target='#splash', data-slide-to='6')
					.carousel-inner
						.item.active
							img(src='images/header/new-system-screenshot.png')
							.carousel-caption: p Following a tutorial on my new comp. Wheee!
						.item
							img(src='images/header/making-a-colorscheme.png')
							.carousel-caption: p Designing a colorscheme with the help of colorschemedesigner.com.
						.item
							img(src='images/header/colorball.png')
							.carousel-caption: p A 3D color scheme designer.
						.item
							img(src='images/header/local-development-workflow.png')
							.carousel-caption: p Building this portfolio, on localhost in a NodeJS server, using ExpressJS. Vim is awesome, if you have time to learn it.
						.item
							img(src='images/header/ndss.png')
							.carousel-caption: p A school project about my old high school. They never knew I made it, think I should try to sell it to them?
						.item
							img(src='images/header/picpost-gallery.png')
							.carousel-caption: p Using <a href='http://isotope.metafizzy.co/'>Isotope</a> for an image gallery.
						.item
							img(src='images/header/picpost-upload.png')
							.carousel-caption: p An upload page.
						.item
							img(src='images/header/color-contrast-experiment.png')
							.carousel-caption: p An experiment in color. Notice that a gradient between two colors doesn't produce the color between them around the color wheel; a gradient cuts a straight line across the wheel!
	#middle
		.container-fluid
			.row-fluid
				section(role='main')#main-content.span9
					.row-fluid
						// posts, start an include when this gets variety
						for post in page.posts
							article(id = 'post-#{post.title.replace(/\s/g, '-').toLowerCase()}').post.span4
								.article-wrapper
									.imageblock
										img(src=post.image.src, alt=post.image.title, title=post.image.title)
										if post.url
											h3.title
												a(href='/#{post.url}')!= post.title
										else
											h3.title!= post.title
									!{post.excerpt || post.content}
				section(role='complementary')#secondary-content.span3
					// needed to keep top position consistent with section[role=main]
					.row-fluid
						// messages
						for message in page.messages
							article(id = 'message-#{message.title.replace(/\s/g, '-').toLowerCase()}').message
								.article-wrapper
									h3!= message.title
									div(role='content')!= message.content

block scripts
	script
		$('.carousel').carousel({
			interval: 10000
		});

	script
		$('#splash').hover(
			function() {
				$('.carousel-caption').stop().fadeIn('fast');
			},
			function() {
				$('.carousel-caption').stop().fadeOut('fast');
			}
		);
