doctype 5
html
	head
		title= (page.title? page.title + ' - ': '') + site.title
		script
			WebFontConfig = {
			google: { families: [ 'Open+Sans:400,300,800,600:latin' ] }
			};
			(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
			})();
		script(src='/scripts/modernizr.custom.09082.js')
		link(rel='stylesheet', href='/bootstrap/styles/bootstrap.css')
		link(rel='stylesheet', href='/bootstrap/styles/responsive.css')
		link(rel='stylesheet', href='/styles/structure.css')
		link(rel='stylesheet', href='/styles/style.css')

		block style
	body
		//if lt IE 9
			p.chromeframe.
				You are using a defective browser.
				Please <a href="http://browsehappy.com/">use any other browser</a>, even a <a href='http://www.elinks.cz/'>text mode browser</a>, or <a href="http://www.google.com/chromeframe/?redirect=true">add Google Chrome Frame</a>.

		nav#site-nav
			.container-fluid
				.row-fluid(role='navigation')
					a(href='/', class='span4 #{page.path == "/"? "active": ""}'): h1 <em>abstract</em><strong>GOO</strong>
					a(href='/what-i-do', class='offset2 span2 #{page.path == "what-i-do"? "active": ""}') what I do
					a(href='/how-i-roll', class='span2 #{page.path == "how-i-roll"? "active": ""}') how I roll
					a(href='/who-i-am', class='span2 #{page.path == "who-i-am"? "active": ""}') who I am

		block content

		footer
			.container-fluid
				.row-fluid
					.span4
						.article-wrapper
							h2 find me on
							ul
								li <strong>Github</strong> 
									a(href='//github.com/d4goxn') d4goxn
								li <strong>StackExchange</strong> 
									a(href='//stackexchange.com/users/178206/dan-ross?tab=accounts') Dan Ross
								li <strong>LinkedIn</strong> 
									a(href='//ca.linkedin.com/pub/dan-ross/68/953/91a') Dan Ross
								li <strong>G+</strong> 
									a(href='//plus.google.com/105196768292553852888') Dan Ross
								li <strong>Twitter</strong> 
									a(href='//twitter.com/ross9885') @ross9885.
									|  I may actually use it, someday
					.span4
						.article-wrapper
							h2 walk my webs
							ul
								li <a href='/library' class='inactive'><strong>reading</strong></a>
									|  1500 bookmarks and counting. Looking for a gift? Gimme a <a href='http://www.bookdepository.com/'>bookstore</a> gift certificate. Got too many books? Give 'em to <a href='http://www.literacynanaimo.org/support-literacy/'>Literacy Nanaimo</a> to grow strong young grasshoppers and help eradicate ignorance
								li <a href='/politics' class='inactive'><strong>politics</strong></a>
									|  practical, but basically green. Want my vote? Show me a plan with numbers that I can be proud of when I die
								li <a href='/giants' class='inactive'><strong>giants</strong></a>
									|  whose shoulders I've hopped across
					.span4
						.article-wrapper
							h2 peers and mentors
							ul
								li
									a(href='//nanaimowebdev.com/') <strong>Mike Strendin</strong>
									|  I can't believe he got that url, that clever lucky faq!
								li
									a(href='//rasmussengraphicdesign.com/').inactive <strong>Corey Rasmussen</strong>
									|  is freakin' hilarious, except when it comes to graphic design
								li
									a(href='//freshcreative.ca/') <strong>Andy Chapman</strong>
									|  taught me the basics of <a href='google.ca/search?q=seo'>seo</a>
								li Andrew Walker showed me the magic in javascript, on both ends of the socket, after bringing PHP back to the basics. Anything I can do, he can do with less complexity
								li
									a(href='//ca.linkedin.com/pub/nathan-bowman/31/955/754N').inactive <strong>Nathan Bowman</strong>
									|  taught me everything I know about clients, and the UX they expect from their project
								li
									a(href='//akdnd.com/') <strong>Will Akehurst</strong>
									|  introduced me to the wide world of ecommerce, so I showed him <a href='openerp.com/en/'>OpenERP</a>. I think we were both overwhelmed by it's sheer size

		script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script window.jQuery || document.write('<script src="/scripts/jquery.min.js"><\\/script>')
		script(src='/bootstrap/scripts/bootstrap-carousel.js')
		block scripts
		script
			$('.inactive').each(function() {
				$(this).attr('title', 'does not exist');
			});
		script
			$('.imagebar').parent().hover(function() {
				$(this).children('.imagebar').stop().fadeIn('fast');
			}, function() {
				$(this).children('.imagebar').stop().fadeOut('fast');
			});
		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-39786809-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
